.arcade-body {
  margin: 0;
  font-family: 'Garamond', serif;
  }
  
  .background-image {
  background-image: url("../../public/background/jesus.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  }
  
  .background-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  }
  
  .container {
  height: 100%;
  position: relative;
  z-index: 2;
  }
  
  .game-button {
  background-color: var(--primary-color);
  border: 3px solid white;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
  cursor: pointer;
  }
  
  .game-button:hover {
  background-color: var(--secondary-color);
  color: white;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);
  }
  
  .bet-input {
  background-color: white;
  color: black;
  margin-bottom: 9px;
  }
  
  /* CSS variables for colors and other values */
  :root {
  --primary-color: rgba(0, 0, 0, 0.3);
  --secondary-color: rgba(255, 255, 255, 0.3);
  }